/* === CUSTOM VARIABLES === */

:root {
    --clr-primary-400: hsl(300, 43%, 22%);
    --clr-accent-200: hsl(333, 80%, 67%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(300, 24%, 96%);
    --clr-neutral-400: hsl(303, 10%, 53%);

    --ff-primary: 'League Spartan', sans-serif;

    --fs-400: .8125rem;
    --fs-500: .9325rem;
    --fs-700: 2rem;

    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

/* === GLOBAL RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

/* html {
  color-scheme: dark light;
} */

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* === GLOBAL STYLES === */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    color: var(--clr-neutral-400);
    line-height: 1.5;
    text-align: center;
    background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    background-size: max(50%, 400px);
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    line-height: 1;
}

.flex-group {
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin-bottom: 1em;
}

.testimonial {
    display: grid;
    text-align: center;
    gap: 2em;
    padding: 2em;
    margin: 4rem auto;
}

.testimonial__title {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
    margin-bottom: 1rem;
}

.testimonial__overview {
    font-size: var(--fs-500);
}

.testimonial__ratings li {
    padding: 1em 1.5em;
    margin-top: 1em;
    font-weight: bold;
    color: var(--clr-primary-400);
    background-color: var(--clr-neutral-200);
    border-radius: .5em;
    text-align: center;
}

.stars { 
    display: flex;
    flex-direction: column;
}

.stars::before {
    content: 
    url(images/icon-star.svg) ' ' url(images/icon-star.svg) ' ' url(images/icon-star.svg) ' ' url(images/icon-star.svg) ' ' url(images/icon-star.svg);
}

.testimonials__container {
    
    padding: 2rem;
    margin-bottom: 1em;
    text-align: left;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    border-radius: .5em;
}

.testimonials__image {
    border-radius: 50%;
    max-width: 2rem;
}

.testimonials__name {
    font-weight: var(--fw-medium);
}

.testimonials__status {
    color: var(--clr-accent-200);
}

@media (min-width: 50rem) {
    body {
        display: grid;
        place-items: center;
        font-size: var(--fs-500);
        background-image: url(images/bg-pattern-top-desktop.svg),
        url(images/bg-pattern-bottom-desktop.svg);
    }

    .testimonial__title {
        font-size: 3rem;
    }
    .testimonial__overview {
        font-size: 1rem;
    }

    .stars {
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }

    .testimonial {
        grid-template-columns: repeat(2, 1fr);
        max-width: 1100px;
    }

    .testimonial__header {
        grid-column: 1 / 2;
        text-align: left;
        margin-right: 5rem;
    }

    .testimonial__ratings {
        grid-column: 2 / 3;
        margin: auto;
    }

    .testimonial__ratings > li:nth-child(1) {
        transform: translateX(0);
    }
    .testimonial__ratings > li:nth-child(2) {
        transform: translateX(5%);
    }
    .testimonial__ratings > li:nth-child(3) {
        transform: translateX(10%);
    }

    .testimonials {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;
        grid-column: 1 / 3;
        margin-top: 2rem;
    }

    .testimonials > div:nth-child(2) {
        transform: translateY(10%);
    }

    .testimonials > div:nth-child(3) {
        transform: translateY(20%);
    }
}